body {
    background-color: rgb(147, 133, 120)
}

* {
    font-family: Ebrima;
}

#one{
    color: rgb(133, 114, 104)
}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -20px;
    margin-bottom: 20px
}

.header-row {
    margin-top: 50px
}

.banner-img {
    margin-bottom: 10px
}

.product-img {
    width: 70%;
}